<a href="#" class="nextRecipe" data-id="<%=@recipe.id%>">Next Recipe</a>
<h1 class="recipeName"> Recipe for <%=@recipe.name%></h1>
<h4 class="recipeInstructions">Recipe Instructions: <%=@recipe.instructions%></h4>
<h4 class="recipeCooktime">Cook Time: <%=@recipe.cooktime%></h4>

<div class="ingredients_detail">
<button type="button" id="ingredients" data-id="<%=@recipe.id%>">Get Ingredients</button>
<ul id="ingredients_list">
</ul>
</div>

<div class="comments_detail">
  <p><button id="showComments" type="button" data-id="<%= @recipe.id %>">Show Comments</button></p>
<ul id="comments_list">
</ul>
</div>

<%= form_for([@recipe, @comment]) do |f|%>
  <%=f.label :body, "Comment:" %><br>
  <%=f.text_area :body %><br>
  <%=f.submit "Add Comment"%>
<%end%>

<div id="commentResult">
  <p id="commentBody"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/recipes/' + <%=@recipe.id%> + '/comments', values);

      posting.done(function(data) {
        var recipe = data;
        $("#commentBody").text(recipe["body"]);
      });
    });
  });
</script


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= button_to('Ingredients Details', recipe_ingredients_path(@recipe),method: :get, class: 'btn btn-light')  %>
    </div>
    <div class="col-md-4">
      <%= button_to('Delete Recipe', recipe_path(@recipe),:method => "delete", class: 'btn btn-light')  %>
    </div>
    <div class="col-md-4">
      <%= button_to('Edit Recipe', edit_recipe_path(@recipe),method: :get, class: 'btn btn-light')  %>
    </div>
  </div>
</div>
