<h1> Recipe for <%=@recipe.name%></h1>

<h4>Recipe Instructions: <%=@recipe.instructions%></h4>
<h4>Cook Time: <%=@recipe.cooktime%></h4>
<div id="ingredients_detail">
<button type="button" id="ingredients" data-id="<%=@recipe.id%>">Get Ingredients</button>
<ul id="ingredients_list">
</ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= button_to('Ingredients Details', recipe_ingredients_path(@recipe),method: :get, class: 'btn btn-light')  %>
    </div>
    <div class="col-md-4">
      <%= button_to('Delete Recipe', recipe_path(@recipe),:method => "delete", class: 'btn btn-light')  %>
    </div>
    <div class="col-md-4">
      <%= button_to('Edit Recipe', edit_recipe_path(@recipe),method: :get, class: 'btn btn-light')  %>
    </div>
  </div>
</div>
